body {
  font-size: 18px;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Hiragino Sans", sans-serif;
  font-weight: 300;

  line-height: 36px;
}

.wrapper {
  max-width: 780px;
  margin: 5px auto;
}

pre {
  font-size: 1rem;
  line-height: 1rem;
}
